.project-page {
  background-color: var(--background-light);
  color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 75%;
  padding-bottom: 40px;
}

.filters button {
  color: var(--background-light);
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  cursor: pointer;
}

.inactive {
  background-color: var(--primary-color);
}

.inactive:hover {
  background-color: var(--primary-light);
}

.active {
  background-color: var(--secondary-color);
}

.active:hover {
  background-color: var(--secondary-light);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  gap: 60px;

  @container (max-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-card {
  border-radius: var(--border-radius);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--background-light);
}

.has-link:hover {
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

.project-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.project-title {
  padding-top: 12px;
  font-size: 20px;
  color: var(--secondary-color);
}

.project-description {
  color: var(--text-dark);
}

.project-keywords {
  color: var(--accent-color);
  font-size: 14px;
  font-style: italic;
}
