:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-dark);
  color: var(--background-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #426147;
  --primary-light: #5a8663;

  --secondary-color: #8a4d2e;
  --secondary-light: #a86549;

  --background-dark: #273329;
  --background-dark-transparent: rgb(39, 51, 41, 0.9);
  --background-light: #edeae0;

  --text-dark: #383432;

  --accent-color: #906e33;
  --secondary-accent: #3f2c1b;

  --border-radius: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--background-light);
  text-decoration: none;
  font-weight: 200;
  width: 100px;
}

a:hover {
  font-weight: 400;
}
