.home-page {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
}

.banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: end;
  background-color: var(--background-dark);
}

.banner-text {
  color: var(--background-light);
  background-color: var(--background-dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  padding: 32px 0 44px 20px;
  font-size: 80px;
}

.subtitle {
  font-size: 40px;
}

.home-card {
  display: flex;
  background-color: var(--background-light);
  justify-self: center;
  flex-direction: column;
  color: var(--primary-color);
  padding: 100px 20px 100px 20px;
  gap: 100px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
}

.home-paragraph {
  width: 70%;
  align-self: center;
  color: var(--text-dark);
}

.clifton-strengths {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cs-card {
  width: 170px;
  height: 170px;
  border-radius: var(--border-radius);
  color: var(--background-light);
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-card:hover {
  background-color: var(--background-light);
  font-size: 14px;
}

.primary {
  background-color: var(--primary-color);
}
.primary:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}
.secondary:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.accent {
  background-color: var(--accent-color);
}
.accent:hover {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.background-dark {
  background-color: var(--background-dark);
}
.background-dark:hover {
  border: 2px solid var(--background-dark);
  color: var(--background-dark);
}

.secondary-accent {
  background-color: var(--secondary-accent);
}
.secondary-accent:hover {
  border: 2px solid var(--secondary-accent);
  color: var(--secondary-accent);
}
