.pd-card {
  margin-top: 60px;
  background-color: var(--background-light);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px 200px 20px;
  box-sizing: border-box;
}

.pd-gallery-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  @container (max-width: 768px) {
    background-color: var(--background-dark);
    border-radius: 0px;
    width: 100%;
  }
}

.pd-image-container {
  background-color: var(--background-dark);
  width: 900px;
  height: 480px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.pd-project-image {
  object-fit: contain;
  width: 100%;
  height: 70%;

  @container (max-width: 768px) {
    padding: 10px;
    width: 200px;
  }
}

.pd-image-comments {
  color: var(--background-light);
  padding-left: 10%;
  padding-right: 10%;
}

.pd-gallery-arrow {
  color: var(--background-dark);

  @container (max-width: 768px) {
    color: var(--background-light);
  }
}

.pd-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @container (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.pd-column-tools {
  justify-self: center;
  background-color: var(--accent-color);
  color: var(--background-light);
  padding: 20px;
  border-radius: 15px;
}

.pd-subtitle {
  text-align: start;
}

.pd-tools {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: start;
  max-height: 120px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.pd-paragraph {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.pd-gh-link a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: underline;
}
