#root {
  text-align: center;
}

nav {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--background-light);
  width: 100%;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: var(--background-dark);
}

footer {
  font-weight: 100;
  font-size: 14px;
  padding: 70px;
}
